@import "tailwindcss";
@config "../tailwind.config.js";

/*===========================
Убираем фон у автокомплит 
============================*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 9999s ease-in-out 0s;
}

/********************************************
Скрыть скролл
*******************************************/
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide, .scroll-hide  *{
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  overflow-x: hidden;
}


/* Пример кастомного блока */
.eco-container {
    width: 100%;
    max-inline-size: 120rem;
    min-inline-size: 20rem;
    margin-inline: auto;
    padding-inline: 0.625rem;
}

@media (min-width: 30rem) {
    .eco-container {
        padding-inline: 0.9375rem;
    }

}

@media (min-width: 40rem) {
    .eco-container {
        padding-inline: 1.25rem;
    }

}

@media (min-width: 48rem) {
    .eco-container {
        padding-inline: 1.875rem;
    }

}

@media (min-width: 64rem) {
    .eco-container {
        padding-inline: 1.875rem;
    }

}

@media (min-width: 80rem) {
    .eco-container {
        padding-inline: 6rem;
    }

}

@media (min-width: 96rem) {
    .eco-container {
        padding-inline: 7rem;
    }

}

@media (min-width: 117.5rem) {
    .eco-container {
        padding-inline: 8rem;
    }
}
