@import "tailwindcss";
@config "../tailwind.config.js";

/*===========================
Убираем фон у автокомплит 
============================*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 9999s ease-in-out 0s;
}

/********************************************
Скрыть скролл
*******************************************/
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide, .scroll-hide  *{
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}
